/* Fonts references
font-family: 'Bebas Neue', cursive; (regular)
font-family: 'Old Standard TT', serif; (regular + bold)

Colors references:
rgb(248, 230, 182)
rgb(215,127, 64)
rgb(125, 36, 27)
rgb(202, 67, 109)
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(248, 230, 182);
  font-family: 'Old Standard TT Regular', serif;
}

/* header */

.amber-opening {
  color: #000;
  font-family: 'Old Standard TT', serif;
  text-decoration: none;
  position: sticky;
}

.index-opening {
  background-color: #fff;
}

.fifties-opening {
  color: #fff;
  background-color: rgb(215,127, 64);
}

.sixties-opening {
  color: #fff;
  background-color: rgb(202, 67, 109);
}

.seventies-opening {
  color: #fff;
  background-color: rgb(125, 36, 27);
}

.amber-logo {
  display: block;
  width: 40%;
  position: relative;
  top: 60px;
  left: 300px;
  bottom: 60px;
}

/* nav */
.index-opening nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #000 solid 1px;
}

.opening-button {
  padding: 10px 0;
}

.opening-button a {
  color: #000;
  text-decoration: none;
}

.index-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

/* content index */
.description {
  text-align: justify;
  line-height: 50px;
  margin: 100px 120px;
}

.collab-name, .products-chapter {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  padding: 50px;
}

.collab-name {
  font-size: 38px;
  margin: 90px 120px;
}

/* lignes-deco */

.decades-history, .earphones-sentence p {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}

.decades-history {
  background-color: rgb(215,127, 64);
  font-size: 140px;
  line-height: 150px;
  text-align: center;
  margin: 170px 20px 15px;
  padding: 30px 0;
}

.earphones-sentence {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.earphones-sentence p {
  font-size: 60px;
  text-align: center;
  padding: 35px;
  margin: 0 10px 80px;
}

.earphones-roars {
  background-color: rgb(202, 67, 109);

}

.limited-edition {
  background-color: rgb(125, 36, 27);
}

.bottom-banner {
  width: 100%;
}

/* box-selction index */
.products-chapter {
  font-size: 60px;
  margin: 90px 180px;
}

.box-selection {
  text-align: center;
  color: #fff;
  z-index: 1;
}

.pattern-photo {
  width: 60%;
}

.earbuds {
  width: 80%;
  border-radius: 50px;
  margin: 140px 80px 40px;
  text-align: center;
}

figure {
  margin: 0;
}

h3 {
  font-family: 'Old Standard TT Bold', serif;
  font-size: 110px;
  margin: 50px 0;
}

.one-liner {
  font-family: 'Old Standard TT Regular', serif;
  font-size: 30px;
  margin: 160px 220px;
  line-height: 80px;
}

.item-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-path {
  text-align: center;
  color: #fff;
  font-size: 100px;

}

.white-arrow {
  width: 30%;
  margin: 90px 350px 120px;
}

/* opening fifties */
.fifties-opening nav {
  background-color: rgb(215,127, 64);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #fff solid 1px;
}

.fifties-opening .opening-button a {
  color: #fff;
  text-decoration: none;
}

.fifties-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

.top-pattern {
  width: 100%;
}

/* opening sixties */
.sixties-opening nav {
  background-color: rgb(202, 67, 109);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #fff solid 1px;
}

.sixties-opening .opening-button a {
  color: #fff;
  text-decoration: none;
}

.sixties-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

/* opening seventies */
.seventies-opening nav {
  background-color: rgb(125, 36, 27);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #fff solid 1px;
}

.seventies-opening .opening-button a {
  color: #fff;
  text-decoration: none;
}

.seventies-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

