/* Fonts references
font-family: 'Bebas Neue', cursive; (regular)
font-family: 'Old Standard TT', serif; (regular + bold)

Colors references:
rgb(248, 230, 182)
rgb(215,127, 64)
rgb(125, 36, 27)
rgb(202, 67, 109)
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(248, 230, 182);
  font-family: 'Old Standard TT Regular', serif;
}

/* header */

.amber-opening {
  color: #000;
  font-family: 'Old Standard TT', serif;
  text-decoration: none;
  position: sticky;
}

.index-opening {
  background-color: rgba(255, 255, 255, 0.5);
}

.fifties-opening {
  color: #fff;
  background-color: rgb(215,127, 64);
}

.sixties-opening {
  color: #fff;
  background-color: rgb(202, 67, 109);
}

.seventies-opening {
  color: #fff;
  background-color: rgb(125, 36, 27);
}

.amber-logo {
  display: block;
  width: 40%;
  position: relative;
  top: 60px;
  left: 300px;
  bottom: 60px;
}

/* nav */
.index-opening nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #000 solid 1px;
}

.opening-button {
  padding: 10px 0;
}

.opening-button a {
  color: #000;
  text-decoration: none;
}

.index-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

/* content index */
.description {
  text-align: justify;
  line-height: 50px;
  margin: 100px 120px;
}

.collab-description {
  margin: 100px 120px 140px;
}

.collab-name, .products-chapter {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  padding: 50px;
}

.collab-name {
  font-size: 38px;
  margin: 90px 120px;
}

/* lignes-deco */

.decades-history, .earphones-sentence p {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}

.decades-history {
  background-color: rgb(215,127, 64);
  font-size: 140px;
  line-height: 150px;
  text-align: center;
  margin: 170px 20px 15px;
  padding: 30px 0;
}

.earphones-sentence {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.earphones-sentence p {
  font-size: 60px;
  text-align: center;
  padding: 35px;
  margin: 0 10px 80px;
}

.earphones-roars {
  background-color: rgb(202, 67, 109);

}

.limited-edition {
  background-color: rgb(125, 36, 27);
}

.bottom-banner {
  width: 100%;
}

/* box-selction index */
.products-chapter {
  font-size: 60px;
  margin: 90px 180px;
}

.box-selection {
  text-align: center;
  color: #fff;
  z-index: 1;
}

.pattern-photo {
  width: 60%;
}

.earbuds {
  width: 80%;
  border-radius: 50px;
  margin: 140px 80px 40px;
  text-align: center;
}

figure {
  margin: 0;
}

h3 {
  font-family: 'Old Standard TT Bold', serif;
  font-size: 110px;
  margin: 50px 0;
}

.one-liner {
  font-family: 'Old Standard TT Regular', serif;
  font-size: 30px;
  margin: 160px 220px;
  line-height: 80px;
}

.item-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-path {
  text-align: center;
  color: #fff;
  font-size: 100px;

}

.white-arrow {
  width: 30%;
  margin: 90px 350px 120px;
}

/*50s box index*/
.fifth-pilot {
  width: 80%;
  margin: 0 0 0 210px;
  z-index: -1;
  position: relative;
  bottom: -70px;
}

.fifth-box {
  background-color: rgb(215,127, 64);
}

/*60s box index*/
.sixth-pilot {
  width: 90%;
  margin: 0 0 0 60px;
  z-index: -1;
  position: relative;
  bottom: -110px;
}

.sixth-box {
  background-color: rgb(202, 67, 109);
  margin-bottom: 60px;
}

/*70s box index*/
.seventh-pilot {
  width: 90%;
  margin: 0 0 0 50px;
  z-index: -1;
  position: relative;
  bottom: -12px;
}

.seventh-box {
  background-color: rgb(125, 36, 27);
}

/*end quote index*/
.bottom-quote {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 130px;
  line-height: 200px;
  padding: 50px;
  margin: 80px 70px;
}

/*footer index*/

hr {
  margin-top: 120px;
}

.refrences {
  font-family: 'Bebas Neue', cursive;
  color: #000;
  text-align: center;
  font-size: 140px;
}

.contacts-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: #000;
  margin: 0 20px;
}

.logos-basket {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-around;
}

.logos-basket img {
  width: 100%;
  margin-bottom: 80px;
}

.markets-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 50%;
  margin: 50px 220px 0;
}

.footer-logo {
  margin: 120px 250px 50px;
  width: 50%;
}

footer p {
  text-align: center;
  font-family: 'Old Standard TT regular', serif;
  margin-bottom: 110px;
}

/* opening fifties */
.fifties-opening nav {
  background-color: rgb(215,127, 64);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #fff solid 1px;
}

.fifties-opening .opening-button a {
  color: #fff;
  text-decoration: none;
}

.fifties-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

.top-pattern {
  width: 100%;
}

/* opening sixties */
.sixties-opening nav {
  background-color: rgb(202, 67, 109);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #fff solid 1px;
}

.sixties-opening .opening-button a {
  color: #fff;
  text-decoration: none;
}

.sixties-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

/* opening seventies */
.seventies-opening nav {
  background-color: rgb(125, 36, 27);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 140px 0 0;
  border-top: #fff solid 1px;
}

.seventies-opening .opening-button a {
  color: #fff;
  text-decoration: none;
}

.seventies-opening .opening-button {
  font-size: 60px;
  flex-grow: 3;
  text-align: center;
}

/* pages products */
/* in general */

.decade-welcome {
  font-family: 'Old Standard TT Bold', serif;
  font-size: 60px;
  text-align: center;
  line-height: 120px;
  padding: 90px 140px;
}

.page-earbuds {
  width: 70%;
  margin: 130px 150px;
  border-radius: 80px;
}

.edition-title {
  color: #fff;
  padding: 30px 90px 60px;
}

.indication-product {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.price-title {
  font-size: 100px;
}

.price {
  font-size: 90px;
}

.add-button {
  background-color: rgb(248, 230, 182);
  color: #000;
  text-align: center;
  font-size: 60px;
  border-radius: 20px;
  padding: 30px 0;
  margin: 40px 20px 50px;
}

.tomorrow-button {
  color: #fff;
  border: rgb(248, 230, 182) solid 5px;
}

.title-description {
  color: #fff;
  font-size: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 40px 90px;
  margin: 170px 470px 0 60px;
}

.infos-card {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 15px;
  line-height: 90px;
  padding: 30px 20px 50px;
  margin: 0 60px 120px;
}

/* icons resume */

.icons-resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 60px 150px;
}

.icons-resume figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px 0;
}

.icons-resume figcaption {
  font-size: 40px;
  text-align: center;
  margin: 40px 0 0;
}

.battery-icon {
  margin-top: 100px;
}

.charging-basket figcaption {
  margin-top: 100px;
}

.fill-illu {
  width: 77%;
}

.border-illu {
  width: 40%;
}

/* others products */
h4 {
  font-family: 'Old Standard TT Bold', serif;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
  padding: 30px;
  text-align: center;
  margin: 0 130px 80px;
}

.other-product-select {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.other-selct {
  border-radius: 20px;
  margin: 0 40px 200px;
}

.other-selct img {
  border-radius: 50px;
  margin: 40px 60px;
}

.other-selct figcaption {
  color: #fff;
  font-family: 'Old Standard TT Bold', serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.other-product-select img {
  width: 70%;
}

.top-access {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Old Standard TT Bold', serif;
  text-decoration: none;
  padding: 30px;
  margin: 40px 240px 120px;
}

.bottom-pattern {
  margin: 120px 0 0;
}

/* 50's edition */
.fifties-edition {
  background-color: rgb(215,127, 64);
}

.fifties-edition .tomorrow-button {
  background-color: rgb(215,127, 64);
}

.fifties-edition .title-description {
  background-color: rgb(215,127, 64);
}

.infos-fifties {
  border: rgb(215,127, 64) solid 5px;
}

.other-50s-selct {
  background-color: rgb(215,127, 64);
}

/* 60's edition */
.sixties-edition {
  background-color: rgb(202, 67, 109);
}

.add-button .sixties-edition {
  background-color: rgb(202, 67, 109);
}

.sixties-edition .tomorrow-button {
  background-color: rgb(202, 67, 109);
}

.infos-sixties {
  border: solid 5px rgb(202, 67, 109);
}

.other-60s-selct {
  background-color: rgb(202, 67, 109);
}

